.root {
  margin: 0 auto;
  max-width: 1180px;
  padding: calc(var(--site-header-height) + 10px) 16px 40px;
}

.content {
  color: var(--text-prose);
}

.content > :first-child {
  margin-top: 0;
}

.content > :last-child {
  margin-bottom: 0;
}

.content :where(img) {
  display: block;
  max-width: 100%;
  height: auto;
}

.content :where(table) {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

.content :where(pre) {
  overflow-x: auto;
}

.content :where(code, pre, kbd, samp) {
  font-family: "SF Mono", Monaco, "Cascadia Code", Consolas, monospace;
}

.content :where(a) {
  color: var(--accent-700);
}

@media (min-width: 640px) {
  .root {
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
  }
}

@media (min-width: 1024px) {
  .root {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (max-width: 640px) {
  .root {
    padding-top: calc(var(--site-header-height) + 6px);
    padding-right: 16px;
    padding-left: 16px;
  }
}
